#
# /etc/ssh/sshd_config
#

# Authentication
UsePAM yes
PermitRootLogin no
AuthenticationMethods publickey
PasswordAuthentication no
KbdInteractiveAuthentication no

# Features
PrintMotd no
PrintLastLog no
Banner /etc/issue.net
Subsystem  sftp  /usr/lib/openssh/sftp-server
